@charset "UTF-8";
@media only screen and (max-device-width: 1201px) {
  :root {
    font-size: 12px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.banner {
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(../images/img/mainpage_BG.png) center top no-repeat;
}
.banner .container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.banner .container .navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 43px;
}
.banner .container .navbar .logo {
  width: 97px;
  height: 26px;
  margin-top: 12px;
}
.banner .container .navbar nav a {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  margin-left: 55px;
  transition: color 0.2s linear;
}
.banner .container .navbar nav a:after {
  content: "";
  border-bottom: 1px solid #F4BF87;
  color: #F4BF87;
  width: 125%;
  top: 100%;
  left: -6px;
  z-index: 2;
  position: absolute;
  display: none;
}
.banner .container .navbar nav a:hover {
  color: #F4BF87;
}
.banner .container .navbar nav a:hover::after {
  display: block;
}
.banner .container .navbar .header_images {
  margin-left: 40px;
}
.banner header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner header h1 {
  font-family: "Kaushan Script";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  font-size: 64px;
  line-height: 93px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.banner header h2 {
  margin: 0;
  max-width: 1170px;
  max-height: 370px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 176px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.banner header .header_divider {
  margin-top: 44px;
  width: 140px;
  border-bottom: 4px solid #FFFFFF;
}
.banner header .header_button {
  width: 370px;
  height: 80px;
  margin-top: 72px;
  border: 4px solid #FFFFFF;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background: none;
  text-transform: uppercase;
}
.banner header .header_button:hover {
  color: #E4BE8D;
  background: #FFFFFF;
}
.banner header .header_button:active {
  border: 4px solid #E4BE8D;
  background: #FFFFFF;
}
.banner .slider {
  margin-top: 116px;
  display: flex;
  justify-content: space-between;
  margin-left: 170px;
  margin-right: 170px;
}
.banner .slider .slider_item {
  position: relative;
  border-top: 4px solid #F9EFCF;
  width: 22%;
  padding: 20px 0;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 42px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #F9EFCF;
  opacity: 0.7;
}
.banner .slider .slider_item b {
  font-size: 36px;
  text-transform: uppercase;
}
.banner .slider .slider_item:first-child {
  opacity: 1;
}
.banner .slider .slider_item:first-child::before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  position: absolute;
  z-index: 1;
  background-color: #F38281;
  left: 0;
  top: -4px;
}

/*about*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 42px 0 108px;
  max-width: 1170px;
  text-align: center;
}
.about .container {
  text-align: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.about .container h1 {
  margin-top: 62px;
  font-family: "Kaushan Script";
  color: #2D3033;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.about .container h2 {
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.about .container .line_about {
  width: 170px;
  border-bottom: 4px solid #F38281;
}
.about .container .about_text {
  margin-top: 34px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}
.about .about_content {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}
.about .about_content .about_item {
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 370px;
  height: 100%;
  max-height: 338px;
}
.about .about_content .about_item::after {
  content: url(../images/about/Super\ team.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  z-index: -1;
}
.about .about_content .about_item:hover::after {
  transform: translateX(-16px) translateY(-16px);
  z-index: 2;
  opacity: 1;
}
.about .about_content .about_item:hover .about_img::before {
  z-index: 2;
  opacity: 1;
}
.about .about_content .about_item:hover .about_img::after {
  transform: translateX(-16px) translateY(-16px);
  z-index: 2;
  opacity: 1;
}
.about .about_content .about_item .about_img {
  width: 100%;
  height: 100%;
}
.about .about_content .about_item .about_img img:first-child {
  width: 370px;
}
.about .about_content .about_item .about_img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(149, 225, 211);
  transition: all 0.8s ease;
  z-index: -1;
}
.about .about_content .about_item .about_img::after {
  content: url(../images/img/icons.png);
  display: grid;
  padding: 0 0 0px;
  place-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  transition: all 0.8s;
  z-index: -1;
}

/*Futures*/
.futures {
  background: rgb(149, 225, 211);
  width: 100%;
  text-align: center;
}
.futures .futures_container {
  display: flex;
  justify-content: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.futures .futures_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 234px;
  height: 250px;
  width: 100%;
  border-left: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.futures .futures_container div:last-child {
  border-right: 1px solid rgb(255, 255, 255);
}
.futures .futures_container div p {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}
.futures .futures_container div h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

/*amzing_services*/
.amazingServices .amazingServices__container {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 42px 0 91px;
}
.amazingServices .amazingServices__container .amazingServices__header {
  text-align: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.amazingServices .amazingServices__container .amazingServices__header h1 {
  margin-top: 62px;
  font-family: "Kaushan Script";
  color: #2D3033;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.amazingServices .amazingServices__container .amazingServices__header h4 {
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.amazingServices .amazingServices__container .amazingServices__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px 30px;
}
.amazingServices .amazingServices__container .amazingServices__content .amazingServices__items {
  display: flex;
  width: 100%;
  gap: 30px;
  height: 139px;
  max-width: 370px;
  justify-content: space-between;
}
.amazingServices .amazingServices__container .amazingServices__content .amazingServices__items img {
  width: 57px;
  height: 57px;
}
.amazingServices .amazingServices__container .amazingServices__content .amazingServices__items .amazingServices__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 270px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.amazingServices .amazingServices__container .amazingServices__content .amazingServices__items .amazingServices__text h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

@media only screen and (max-device-width: 1201px) {
  .amazingServices {
    padding: 29px 16px 58px;
  }
}
@media only screen and (max-device-width: 769px) {
  .amazingServices .amazingServices__container {
    padding: 0;
  }
  .amazingServices .amazingServices__container .amazingServices__header {
    margin: 0 auto 72px;
  }
  .amazingServices .amazingServices__container .amazingServices__content {
    gap: 36px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .amazingServices .amazingServices__container .amazingServices__content .amazingServices__items {
    max-height: 94px;
  }
  .amazingServices .amazingServices__container .amazingServices__content .amazingServices__items .amazingServices__icons {
    max-width: 57px;
    width: 100%;
  }
  .amazingServices .amazingServices__container .amazingServices__content .amazingServices__items .amazingServices__icons img {
    width: 57px;
    height: 57px;
  }
  .amazingServices .amazingServices__container .amazingServices__content .amazingServices__items .amazingServices__text {
    max-width: 211px;
    justify-content: space-evenly;
  }
}
/*allDevices*/
.allDevices {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 868px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
.allDevices::before {
  content: "";
  position: absolute;
  background-image: url(../images/all_devices/bg.png);
  background-repeat: round;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.allDevices .allDevices__container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
}
.allDevices .allDevices__container .allDevices__header {
  text-align: center;
  max-width: 1170px;
  width: 100%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.allDevices .allDevices__container .allDevices__header .line_device {
  width: 170px;
  border-bottom: 4px solid #F38281;
}
.allDevices .allDevices__container .allDevices__header h1 {
  margin-top: 62px;
  font-family: "Kaushan Script";
  color: #2D3033;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-top: -10px;
}
.allDevices .allDevices__container .allDevices__header h2 {
  margin: 0;
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.allDevices .allDevices__container .allDevices__content {
  display: flex;
  width: 100%;
  height: 525px;
}
.allDevices .allDevices__container .allDevices__content .allDevices__tablet {
  background: url(../images/all_devices/desktop.png) center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.allDevices .allDevices__container .allDevices__content .allDevices__tablet::before {
  content: "";
  background: url(../images/all_devices/Daco_624857\ 1.png) center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.allDevices .allDevices__container .allDevices__content .allDevices__tablet .allDevices__mobile {
  background: url(../images/all_devices/mobile.png) center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  top: 28%;
  left: 24%;
  width: 40%;
  height: 100%;
}
.allDevices .allDevices__container .allDevices__content .allDevices__tablet .allDevices__mobile::before {
  content: "";
  background: url(../images/all_devices/pngwing\ 1.png) center center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 1%;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 1201px) {
  .allDevices {
    height: 588px;
  }
  .allDevices .allDevices__container .allDevices__header {
    margin: 30px 0 40px;
    gap: 35px;
  }
  .allDevices .allDevices__container .allDevices__header .line_device {
    width: 148px;
  }
  .allDevices .allDevices__container .allDevices__content {
    margin: 0 auto;
    max-width: 793px;
    width: 100%;
    height: 356px;
  }
  .allDevices .allDevices__container .allDevices__content .allDevices__tablet {
    background: url(../images/all_devices/bg_dexktop.png) center center;
    background-repeat: no-repeat;
  }
  .allDevices .allDevices__container .allDevices__content .allDevices__tablet::before {
    background: url(../images/all_devices/DeskDaco_624857.png) center center;
    background-repeat: no-repeat;
  }
  .allDevices .allDevices__container .allDevices__content .allDevices__tablet .allDevices__mobile {
    background: url(../images/all_devices/desktop_mobile.png) center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .allDevices .allDevices__container .allDevices__content .allDevices__tablet .allDevices__mobile::before {
    background: url(../images/all_devices/desktop_mobile_ramka.png) center center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-device-width: 769px) {
  .allDevices {
    height: 514px;
  }
  .allDevices .allDevices__container .allDevices__header {
    margin: 30px 0 40px;
    gap: 35px;
  }
  .allDevices .allDevices__container .allDevices__header .line_device {
    width: 134px;
  }
  .allDevices .allDevices__container .allDevices__content {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    height: 356px;
  }
  .allDevices .allDevices__container .allDevices__content .allDevices__tablet {
    background: url(../images/all_devices/desk_mobile.png) center center;
    background-repeat: no-repeat;
  }
  .allDevices .allDevices__container .allDevices__content .allDevices__tablet::before {
    background: url(../images/all_devices/Daco_624857_mobile.png) center center;
    background-repeat: no-repeat;
  }
  .allDevices .allDevices__container .allDevices__content .allDevices__tablet .allDevices__mobile {
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    top: 18%;
    left: 25%;
    background: url(../images/all_devices/unsplash_RFDP7_80v5A_mobile.png) center center;
    background-repeat: no-repeat;
  }
  .allDevices .allDevices__container .allDevices__content .allDevices__tablet .allDevices__mobile::before {
    background: url(../images/all_devices/pngwing_mobile.png) center center;
    background-repeat: no-repeat;
  }
}
/*service*/
.service .service__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 42px 0 114px;
}
.service .service__container .service__header {
  text-align: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.service .service__container .service__header h1 {
  margin-top: 62px;
  font-family: "Kaushan Script";
  color: #2D3033;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.service .service__container .service__header h2 {
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.service .service__container .service__header .line__service {
  width: 170px;
  border-bottom: 4px solid #F38281;
}
.service .service__container .service__header h4 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
}
.service .service__container .service__content {
  display: flex;
  gap: 30px;
}
.service .service__container .service__content .service__img {
  flex: 1;
  display: flex;
  align-items: center;
}
.service .service__container .service__content .service__accordion {
  width: 100%;
  max-width: 570px;
  flex: 1;
}
.service .service__container .service__content .service__accordion .accordion__tabs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 19px;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab {
  border: 1px solid rgb(198, 203, 205);
  width: 100%;
  overflow: hidden;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab input:checked + .tab__label::after {
  transform: rotate(90deg);
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab input:checked ~ .tab__content {
  max-height: 128px;
  overflow: auto;
  margin: 17px 25px 18px 0;
  padding: 0 54px 0 22px;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab input:checked ~ .tab__content::-webkit-scrollbar {
  width: 7px;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab input:checked ~ .tab__content::-webkit-scrollbar-thumb {
  background: rgb(149, 225, 211);
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab input:checked ~ .tab__content::-webkit-scrollbar-track {
  background: rgb(245, 245, 245);
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab .tab__label {
  display: flex;
  position: relative;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  padding: 10px;
  height: 92px;
  font-weight: bold;
  color: #C6CBCD;
  cursor: pointer;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab .tab__label::after {
  content: "❯";
  position: absolute;
  top: 37%;
  left: 45%;
  width: 100%;
  height: 25%;
  text-align: center;
  transition: 0.3s;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab .tab__label h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2D3033;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab .tab__label .label__text {
  display: flex;
  align-items: center;
  gap: 40px;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab .tab__content {
  max-height: 0;
  padding: 0 10px;
  transition: 0.3s;
  color: black;
}
.service .service__container .service__content .service__accordion .accordion__tabs .tab .tab__content h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media only screen and (max-device-width: 1201px) {
  .service .service__container {
    padding: 86px 16px 88px;
  }
  .service .service__container .service__header {
    margin: 0 auto 36px;
  }
  .service .service__container .service__content {
    gap: 20px;
  }
  .service .service__container .service__content .service__img img {
    width: 486px;
  }
  .service .service__container .service__content .service__accordion .accordion__tabs .tab input:checked ~ .tab__content {
    max-height: 103px;
    margin: 16px 25px 13px 0;
    padding: 0 45px 0 21px;
  }
  .service .service__container .service__content .service__accordion .accordion__tabs .tab .tab__label {
    height: 78px;
  }
}
@media only screen and (max-device-width: 769px) {
  .service .service__container {
    max-width: 480px;
    padding: 52px 16px 31px;
  }
  .service .service__container .service__header {
    margin: 0 auto 29px;
  }
  .service .service__container .service__content {
    margin: 0 auto;
    flex-direction: column;
  }
  .service .service__container .service__content .service__img {
    flex: none;
    height: 142px;
    background: url(../images/service/photo-1.png) center;
    background-size: cover;
  }
  .service .service__container .service__content .service__img img {
    display: none;
  }
}
/*reviews*/
.reviews {
  width: 100%;
  background: rgb(248, 248, 248);
  height: 254px;
  min-width: 0;
}
.reviews .reviews__container {
  padding: 42px 0;
  max-width: 1170px;
}
.reviews .reviews__container .reviews__items .items__item {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 270px;
}
.reviews .reviews__container .reviews__items .items__item .item__img {
  padding-top: 20px;
  width: 170px;
  height: 170px;
}
.reviews .reviews__container .reviews__items .items__item .item__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 770px;
}
.reviews .reviews__container .reviews__items .items__item .item__text p {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #A9AFB1;
}
.reviews .reviews__container .reviews__items .items__item .item__text .item__userName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.reviews .reviews__container .reviews__items .items__item .item__text .item__userName .line_reviews {
  width: 70px;
  border-bottom: 4px solid #F38281;
}
.reviews .reviews__container .reviews__items .items__item .item__text .item__userName h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #000000;
}
@media only screen and (max-device-width: 1201px) {
  .reviews .reviews {
    height: 172px;
  }
  .reviews .reviews .reviews__container {
    padding: 28px 0;
  }
  .reviews .reviews .reviews__container .reviews__items .items__item {
    gap: 40px;
  }
  .reviews .reviews .reviews__container .reviews__items .items__item .line_reviews {
    width: 47.47px;
  }
  .reviews .reviews .reviews__container .reviews__items .items__item .item__img {
    width: 115px;
    height: 115px;
  }
}
@media only screen and (max-device-width: 769px) {
  .reviews .reviews {
    height: 238px;
  }
  .reviews .reviews .reviews__container {
    margin: 0 16px;
  }
  .reviews .reviews .reviews__container .reviews__items .items__item .line_reviews {
    width: 47.47px;
  }
  .reviews .reviews .reviews__container .reviews__items .items__item .item__img {
    display: none;
  }
  .reviews .reviews .reviews__container .reviews__items .items__item .item__text {
    padding-bottom: 25px;
    gap: 18px;
  }
}

/*our_team*/
.ourTeam .ourTeam__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 84px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 170px;
}
.ourTeam .ourTeam__container .ourTeam__header {
  text-align: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ourTeam .ourTeam__container .ourTeam__header .line_ourTeam {
  width: 170px;
  border-bottom: 4px solid #F38281;
  margin-left: 510px;
}
.ourTeam .ourTeam__container .ourTeam__header h2 {
  margin-top: 62px;
  font-family: "Kaushan Script";
  color: #2D3033;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  justify-content: center;
}
.ourTeam .ourTeam__container .ourTeam__header h4 {
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  justify-content: center;
}
.ourTeam .ourTeam__container .ourTeam__header h5 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.ourTeam .ourTeam__container .ourTeam__content {
  display: flex;
  gap: 30px;
}
.ourTeam .ourTeam__container .ourTeam__content .ourTeam__item {
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 534px;
}
.ourTeam .ourTeam__container .ourTeam__content .ourTeam__item h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.ourTeam .ourTeam__container .ourTeam__content .ourTeam__item h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img {
  position: relative;
  width: 100%;
  max-width: 370px;
  height: 100%;
  max-height: 424px;
}
.ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img img {
  height: 100%;
}
.ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img::before {
  content: url(../images/our_team/bx_bxl-facebook.png) url(../images/our_team/ci_twitter.png) url(../images/our_team//jam_pinterest.png) url(../images/our_team/ci_instagram.png);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  place-content: center;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%), url(../images/img/mainpage_BG.png) center top no-repeat;
  z-index: -1;
  transition: all 0.8s;
  opacity: 0.9;
}
.ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img:hover::before {
  z-index: 2;
  transform: translate(-16px, -16px);
}

@media only screen and (max-width: 1201px) {
  .ourTeam .ourTeam__container {
    padding: 57px 16px;
  }
  .ourTeam .ourTeam__container .ourTeam__content .ourTeam__item {
    height: 431px;
  }
  .ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img {
    max-width: 317px;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 769px) {
  .ourTeam .ourTeam__container {
    max-width: 480px;
    padding: 29px 16px;
  }
  .ourTeam .ourTeam__container .ourTeam__header {
    margin: 0 0 18px;
    gap: 20px;
  }
  .ourTeam .ourTeam__container .ourTeam__content {
    width: 100%;
    flex-direction: column;
  }
  .ourTeam .ourTeam__container .ourTeam__content .ourTeam__item {
    height: 304px;
  }
  .ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img {
    max-width: 370px;
  }
  .ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img img {
    -o-object-fit: none;
       object-fit: none;
    margin: 0 auto;
    height: 236px;
    width: 100%;
  }
  .ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img::before {
    display: none;
  }
  .ourTeam .ourTeam__container .ourTeam__content .ourTeam__item .item__img::after {
    content: url(../images/our_team/facebook.png) url(../images/our_team/twitter.png) url(../images/our_team/pinterest.png) url(../images/our_team/instagramm.png);
    left: 0;
    top: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-content: end;
  }
}
.partners {
  width: 100%;
  background: #F8F8F8;
}
.partners .partners__icons {
  margin-left: 180px;
  width: 100%;
  height: 211px;
  margin-top: 84px;
  display: flex;
  max-width: 1510px;
  align-items: center;
  justify-content: space-between;
}
.partners .partners__icons img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

@media only screen and (max-width: 1201px) {
  .partners .partners__icons {
    max-width: 1024px;
    height: 143px;
    padding: 0 16px;
  }
  .partners .partners__icons .partners__icons-1 {
    width: 86px;
    height: 86px;
  }
  .partners .partners__icons .partners__icons-2 {
    width: 48px;
    height: 45px;
  }
  .partners .partners__icons .partners__icons-3 {
    width: 54px;
    height: 54px;
  }
  .partners .partners__icons .partners__icons-4 {
    width: 46px;
    height: 45px;
  }
}
@media only screen and (max-width: 769px) {
  .partners .partners__icons {
    height: 396px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .partners .partners__icons .icons-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .partners .partners__icons .icons-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .partners .partners__icons .icons-3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .partners .partners__icons .icons-4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .partners .partners__icons .icons-5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .partners .partners__icons .icons-6 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
/*our__work*/
.our__Work {
  width: 100%;
  margin: 0 auto;
  padding: 84px 0;
  text-align: center;
  margin-left: 170px;
}
.our__Work .ourWork__header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.our__Work .ourWork__header h1 {
  margin-top: 62px;
  font-family: "Kaushan Script";
  color: #2D3033;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.our__Work .ourWork__header h2 {
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.our__Work .ourWork__header .line_ourWork {
  width: 170px;
  border-bottom: 4px solid #F38281;
}
.our__Work .ourWork__header h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.ourWork__content {
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}
.ourWork__content .ourWork__block {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.ourWork__content .ourWork__block img {
  width: 100%;
  height: auto;
}
.ourWork__content .ourWork__block::after {
  content: url(../images/Our_Work/f2.png);
  background: url(../images/Our_Work/f3.png) center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 60%;
  z-index: -1;
}
.ourWork__content .ourWork__block::before {
  content: url(../images/Our_Work/icon.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourWork__content .ourWork__block:hover::before {
  z-index: 2;
}
.ourWork__content .ourWork__block:hover::after {
  z-index: 2;
}
.ourWork__content .ourWork__block-3 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.ourWork__content .ourWork__block-3::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  left: 0;
  top: 0;
  content: url(../images/Our_Work/icon.png) bottom;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourWork__content .ourWork__block-3::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: url(../images/Our_Work/f3.png);
  background: url(../images/Our_Work/f2.png) center;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1201px) {
  .ourWork {
    padding: 57px 0;
  }
  .ourWork .ourWork__header {
    max-width: 793px;
    margin: 0 auto 28px;
  }
}
@media only screen and (max-width: 769px) {
  .ourWork .ourWork__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .ourWork .ourWork__content .ourWork__block-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .ourWork .ourWork__content .ourWork__block-2 {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  .ourWork .ourWork__content .ourWork__block-2 img {
    height: 100%;
  }
  .ourWork .ourWork__content .ourWork__block-3 {
    grid-column: 2/3;
    grid-row: 1/4;
  }
  .ourWork .ourWork__content .ourWork__block-3 img {
    height: 100%;
  }
  .ourWork .ourWork__content .ourWork__block-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .ourWork .ourWork__content .ourWork__block-5 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .ourWork .ourWork__content .ourWork__block-6 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .ourWork .ourWork__content .ourWork__block-6 img {
    width: 100%;
  }
  .ourWork .ourWork__content .ourWork__block-7 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
/*reviews*/
.reviews__2 {
  margin-bottom: 84px;
  width: 100%;
  background: rgb(248, 248, 248);
  height: 254px;
  min-width: 0;
}
.reviews__2 .reviews__container__2 {
  padding: 42px 0;
  max-width: 1170px;
}
.reviews__2 .reviews__container__2 .reviews__items__2 .items__item {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 270px;
}
.reviews__2 .reviews__container__2 .reviews__items__2 .items__item .item__img {
  padding-top: 20px;
  width: 170px;
  height: 170px;
}
.reviews__2 .reviews__container__2 .reviews__items__2 .items__item .item__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 770px;
}
.reviews__2 .reviews__container__2 .reviews__items__2 .items__item .item__text p {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #A9AFB1;
}
.reviews__2 .reviews__container__2 .reviews__items__2 .items__item .item__text .item__userName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.reviews__2 .reviews__container__2 .reviews__items__2 .items__item .item__text .item__userName .line_reviews {
  width: 70px;
  border-bottom: 4px solid #F38281;
}
.reviews__2 .reviews__container__2 .reviews__items__2 .items__item .item__text .item__userName h2 {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #000000;
}
@media only screen and (max-device-width: 1201px) {
  .reviews__2 .reviews__2 {
    height: 172px;
  }
  .reviews__2 .reviews__2 .reviews__container__2 {
    padding: 28px 0;
  }
  .reviews__2 .reviews__2 .reviews__container__2 .reviews__items__2 .items__item {
    gap: 40px;
  }
  .reviews__2 .reviews__2 .reviews__container__2 .reviews__items__2 .items__item .line_reviews {
    width: 47.47px;
  }
  .reviews__2 .reviews__2 .reviews__container__2 .reviews__items__2 .items__item .item__img {
    width: 115px;
    height: 115px;
  }
}
@media only screen and (max-device-width: 769px) {
  .reviews__2 .reviews {
    height: 238px;
  }
  .reviews__2 .reviews .reviews__container {
    margin: 0 16px;
  }
  .reviews__2 .reviews .reviews__container .reviews__items .items__item .line_reviews {
    width: 47.47px;
  }
  .reviews__2 .reviews .reviews__container .reviews__items .items__item .item__img {
    display: none;
  }
  .reviews__2 .reviews .reviews__container .reviews__items .items__item .item__text {
    padding-bottom: 25px;
    gap: 18px;
  }
}

/*happy clients*/
.people_say {
  background: #FFFFFF;
  width: 100%;
  width: 1510px;
  height: 923px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.people_say::before {
  margin-top: 154px;
  content: "";
  position: absolute;
  background: url(../images/people_say/unsplash_-qrcOR33ErA.png);
  background-repeat: round;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}
.people_say .people_say__container {
  width: 100%;
  max-width: 1170px;
  display: flex;
  gap: 62px;
  position: relative;
  padding: 42px 0;
  flex-direction: column;
}
.people_say .people_say__container .people_say__header {
  margin-top: 154px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.people_say .people_say__container .people_say__header h1 {
  margin-top: 62px;
  font-family: "Kaushan Script";
  color: #2D3033;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin: 0;
}
.people_say .people_say__container .people_say__header h2 {
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0;
}
.people_say .people_say__container .people_say__header .line__people_say {
  width: 170px;
  border-bottom: 4px solid #F38281;
}
.people_say .people_say__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px 0;
}
.people_say .people_say__content .people_say__item {
  max-width: 550px;
  width: 100%;
  height: 278px;
  display: flex;
  gap: 0 50px;
}
.people_say .people_say__content .people_say__item .item__userAvatar {
  max-width: 130px;
  width: 100%;
}
.people_say .people_say__content .people_say__item .item__userAvatar img {
  max-width: 130px;
  width: 100%;
  height: auto;
}
.people_say .people_say__content .people_say__item .item__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 370px;
}
.people_say .people_say__content .people_say__item .item__main h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.people_say .people_say__content .people_say__item .item__main h5 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.people_say .people_say__content .people_say__item .item__main .people_say__UserWork {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.people_say .people_say__content .people_say__item .item__main .line-under-comment {
  width: 70px;
  border-bottom: 4px solid #F38281;
}

@media only screen and (max-width: 1201px) {
  .people_say {
    height: 625px;
  }
  .people_say .people_say__container {
    padding: 28px 16px;
    gap: 28px;
  }
  .people_say .people_say__container .people_say__header {
    gap: 30px;
  }
  .people_say .people_say__container .people_say__content {
    gap: 28px 0;
    justify-items: center;
  }
  .people_say .people_say__container .people_say__content .people_say__item {
    height: 194px;
    max-width: 453px;
  }
}
@media only screen and (max-width: 769px) {
  .people_say {
    height: auto;
  }
  .people_say::before {
    background: url(../images/happyClients/bgHappyClients.png);
    background-repeat: round;
  }
  .people_say .people_say__container .people_say__content {
    grid-template-columns: 1fr;
  }
  .people_say .people_say__container .people_say__content .people_say__item {
    height: 303px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .people_say .people_say__container .people_say__content .people_say__item .item__userAvatar {
    max-width: 86px;
  }
  .people_say .people_say__container .people_say__content .people_say__item .item__main {
    gap: 20px;
    align-items: center;
  }
}
/*ourStories*/
.ourStories {
  margin-top: 270px;
  width: 1184px;
  margin-left: 156px;
}
.ourStories .ourStories__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 84px 0;
}
.ourStories .ourStories__container .ourStories__header {
  text-align: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto 42px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.ourStories .ourStories__container .ourStories__header h1 {
  margin-top: 62px;
  font-family: "Kaushan Script";
  color: #2D3033;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.ourStories .ourStories__container .ourStories__header h2 {
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.ourStories .ourStories__container .ourStories__header .line__ourStories {
  width: 170px;
  border-bottom: 4px solid #F38281;
}
.ourStories .ourStories__content {
  display: flex;
  gap: 30px;
}
.ourStories .ourStories__content .ourStories__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 498px;
}
.ourStories .ourStories__content .ourStories__item .item__images {
  position: relative;
  height: 253px;
}
.ourStories .ourStories__content .ourStories__item .item__images .item__box {
  position: absolute;
}
.ourStories .ourStories__content .ourStories__item .item__images .item__box img {
  width: 100%;
  height: auto;
}
.ourStories .ourStories__content .ourStories__item .item__images .item__box .item__data {
  position: absolute;
  top: 59%;
  left: -4%;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  background: rgb(149, 225, 211);
}
.ourStories .ourStories__content .ourStories__item .item__images .item__box .ourStories__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}
.ourStories .ourStories__content .ourStories__item .item__images .item__box .ourStories__text p {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: -50px;
  margin-top: -20px;
  margin-left: 13px;
  float: left;
}
.ourStories .ourStories__content .ourStories__item .item__text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ourStories .ourStories__content .ourStories__item .item__text h3 {
  margin-bottom: -25px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.ourStories .ourStories__content .ourStories__item .item__text h5 {
  margin-bottom: -30px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.ourStories .ourStories__content .ourStories__item .item__icons {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  width: 100%;
}
.ourStories .ourStories__content .ourStories__item .item__icons .item__views {
  margin-top: 33px;
  display: flex;
  width: 72px;
  justify-content: space-between;
  align-items: center;
}
.ourStories .ourStories__content .ourStories__item .item__icons .item__views h5 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.ourStories .ourStories__content .ourStories__item .item__icons .item__comments {
  margin-top: 36px;
  display: flex;
  width: 60px;
  justify-content: space-between;
  align-items: center;
}
.ourStories .ourStories__content .ourStories__item .item__icons .item__comments h5 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

@media only screen and (max-width: 1201px) {
  .ourStories .ourStories__container {
    padding: 57px 16px;
  }
  .ourStories .ourStories__container .ourStories__content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .ourStories .ourStories__container .ourStories__content .ourStories__item {
    max-width: 317px;
    height: 422px;
  }
  .ourStories .ourStories__container .ourStories__content .ourStories__item .item__images {
    height: 214px;
  }
  .ourStories .ourStories__container .ourStories__content .ourStories__item .item__images .item__box .item__data {
    max-width: 68px;
    max-height: 68px;
  }
  .ourStories .ourStories__container .ourStories__content .ourStories__item .item__images .item__box .item__data .ourStories__text {
    padding: 5px;
  }
}
@media only screen and (max-width: 769px) {
  .ourStories .ourStories__container {
    padding: 29px 16px;
  }
}
/*map*/
.map {
  margin: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  width: 1510px;
  height: 231px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
.map::before {
  content: "";
  position: absolute;
  background-image: url(../images/map/unsplash_x3REnO9z7io.png);
  background-repeat: round;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}
.map .map__container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.map .map__container .line_map {
  border-bottom: 4px solid #F38281;
  width: 170px;
}
.map .map__container h4 {
  margin-top: 25px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2D3033;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #F38281;
}

@media only screen and (max-width: 1201px) {
  .map {
    height: 156px;
  }
}
/*footer*/
footer {
  width: 1510px;
  margin-top: 78px;
}
footer .footer__container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 42px 0 0;
}
footer .footer__container .footer__content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
footer .footer__container .footer__content .content__mogoSocial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 370px;
  width: 100%;
}
footer .footer__container .footer__content .content__mogoSocial h5 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #C6CBCD;
}
footer .footer__container .footer__content .content__mogoSocial h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}
footer .footer__container .footer__content .content__mogoSocial h3 .followers {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
footer .footer__container .footer__content .content__mogoSocial h3 .followers-k {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__logo img {
  width: 270px;
  height: 100px;
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__icons .icons__follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 43px;
  border-top: 1px solid rgb(198, 203, 205);
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__icons .icons__follow h6 {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #C6CBCD;
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__icons .icons__follow .icons_icon {
  width: 270px;
  display: flex;
  justify-content: space-between;
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__icons .icons__follow .icons_icon img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form {
  border: 1px solid rgb(198, 203, 205);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 370px;
  height: 55px;
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form input {
  width: 100%;
  max-width: 231px;
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form .footer__button {
  max-width: 96%;
  padding: 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-transform: uppercase;
  background: rgb(149, 225, 211);
  max-width: 133px;
  width: 100%;
  height: 100%;
  transform: scale(1.04);
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form .footer__button:hover {
  background: rgb(135, 210, 196);
}
footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form .footer__button:active {
  background: rgb(92, 149, 138);
}
footer .footer__container .footer__content .content__blog {
  max-width: 470px;
  width: 100%;
}
footer .footer__container .footer__content .content__blog h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
footer .footer__container .footer__content .content__blog .blog__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
footer .footer__container .footer__content .content__blog .blog__items .blog_item {
  display: flex;
  gap: 30px;
}
footer .footer__container .footer__content .content__blog .blog__items .blog_item .blog__img img {
  width: 170px;
  height: 105px;
}
footer .footer__container .footer__content .content__blog .blog__items .blog_item .blog__text {
  max-width: 270px;
}
footer .footer__container .footer__content .content__blog .blog__items .blog_item .blog__text h3 {
  margin-top: -3px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
footer .footer__container .footer__content .content__blog .blog__items .blog_item .blog__text h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
footer .footer__container .footer__content .content__instagram {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
}
footer .footer__container .footer__content .content__instagram h3 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
footer .footer__container .footer__content .content__instagram h6 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  text-decoration-line: underline;
  text-transform: uppercase;
}
footer .footer__container .footer__content .content__instagram .instagram__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
footer .footer__container .footer__content .content__instagram .instagram__images div img {
  max-width: 90px;
  width: 100%;
  max-height: 88px;
  height: 100%;
}
footer .footer__container .footer__text {
  text-align: center;
  padding: 1.25rem;
  border-top: 1px solid rgb(198, 203, 205);
  margin-top: 40px;
}
footer .footer__container .footer__text h6 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1201px) {
  footer .footer__container {
    padding: 28px 16px 0;
  }
  footer .footer__container .footer__content {
    gap: 20px;
  }
  footer .footer__container .footer__content .content__mogoSocial {
    max-width: 317px;
    width: 100%;
  }
  footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form {
    max-width: 317px;
    width: 100%;
  }
  footer .footer__container .footer__content .content__blog {
    max-width: 402px;
    width: 100%;
  }
  footer .footer__container .footer__content .content__blog .blog__items .blog_item {
    gap: 20px;
  }
  footer .footer__container .footer__content .content__blog .blog__items .blog_item .blog__img {
    max-width: 115px;
    width: 100%;
  }
  footer .footer__container .footer__content .content__blog .blog__items .blog_item .blog__img img {
    height: auto;
  }
  footer .footer__container .footer__content .content__blog .blog__items .blog_item .blog__text .blog__footer-2 {
    padding: 0;
  }
  footer .footer__container .footer__content .content__instagram {
    max-width: 233px;
    width: 100%;
  }
}
@media only screen and (max-width: 769px) {
  footer {
    max-width: 480px;
    margin: 0 auto;
  }
  footer .footer__container .footer__content {
    flex-direction: column;
  }
  footer .footer__container .footer__content .content__mogoSocial {
    max-width: 100%;
    text-align: center;
  }
  footer .footer__container .footer__content .content__mogoSocial .mogoSocial__logo {
    background: url(../images/footer/MoGo__Mobile.png) center;
    background-repeat: no-repeat;
    height: 68px;
    width: 100%;
    max-width: 287px;
    margin: 0 auto;
  }
  footer .footer__container .footer__content .content__mogoSocial .mogoSocial__logo img {
    display: none;
  }
  footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form {
    border: none;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
  footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form input {
    border: 1px solid rgb(198, 203, 205);
    max-width: 100%;
    margin-bottom: 24px;
    padding: 15px;
  }
  footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form input::-moz-placeholder {
    text-align: start;
  }
  footer .footer__container .footer__content .content__mogoSocial .mogoSocial__emailSubscribe form input::placeholder {
    text-align: start;
  }
  footer .footer__container .footer__content .content__instagram {
    max-width: 100%;
    text-align: center;
  }
  footer .footer__container .footer__content .content__instagram .instagram__images div img {
    max-width: 100%;
    max-height: 100%;
  }
}/*# sourceMappingURL=style.css.map */